body {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 30px;
  box-sizing: border-box;
}

#room {
  width: 100%;
  min-height: 100vh;
  overflow: scroll;
  background-color: rgb(113, 147, 193);
}

.chat-input {
  position: fixed;
  bottom: 0;
}

/* .form-control_1{
  width: 20%; 
} */

.form-control_2{
  width:85%;
}



.img_cont_msg {
  height: 50px;
  width: 50px;
}

.user_img_msg {
  height: 50px;
  width: 50px;
  border: 1.5px solid #f5f6fa;

}

.box-left {
  display: flex;
  justify-content: flex-start;
}

.box-right {
  display: flex;
  justify-content: flex-end;
}

.message-box {
  padding: 50px;
  max-width: 42%;
  margin: 10px;
  border-radius: 30px;
}

.white {
  background-color: white;
}

.green {
  background-color: yellowgreen;
}